.pulse {
  padding: 2.75rem;
  /* border: 1px solid var(--red); */
  background-color: var(--white);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  animation: pulse 2s ease infinite;
  transform: translateX(100%);
}

.pulse svg {
  color: var(--red);
  font-size: 32px;
  transition: 0.25s;
}

.pulse:hover svg {
  color: var(--red-weak);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }

  70% {
    box-shadow: 0 0 0 45px rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
