.section_banner {
  background-image: linear-gradient(
      90deg,
      var(--pink-weak) 45%,
      rgba(254, 190, 163, 0.5) 60%
    ),
    url("../../../assets/galer6.jpg");

  background-image: linear-gradient(
      90deg,
      var(--pink-weak) 55%,
      transparent 60%
    ),
    repeating-linear-gradient(
      to right,
      var(--pink-weak) 0,
      var(--pink-weak) 1px,
      transparent 1px,
      transparent 3px
    ),
    url("../../../assets/galer6.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.content_image {
  position: absolute;
  top: 10px;
  left: 10px;
}

.content_image img {
  width: 100px;
}

.contentCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 5rem;
}

.slide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1400px;
  max-width: 100vw;
}

.contentPlay {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBottom {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}
