/* Largura da barra de rolagem */
::-webkit-scrollbar {
  width: 12px;
}

/* Cor da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #730702;
}

/* Cor do fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: #ecf0f1;
}

/* Borda da barra de rolagem */
::-webkit-scrollbar-thumb:hover {
  background-color: #480501;
}

/* Canto do bloco de área de exibição da barra de rolagem (apenas Firefox) */
::-moz-scrollbar-corner {
  background-color: #ecf0f1;
}

swiper-container {
  width: 240px;
  height: 320px;
}

swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
