* {
    box-sizing: border-box;
    margin: 0;
    color: #730702;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    /*background-color: #730702;*/
}

/* SOCIAL */

.social{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    height: 3.5rem;
    background-color: #730702;
}

.soc-link{
    height: 1rem;
    margin: 0 0.75rem 0 0.75rem;
}

.soc-ico{
    width: auto;
    height: 100%;
    filter: invert(1);
}

/* HEADER */

.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 6rem;
}

.hdr-logo{
    height: 80%;
    width: auto;
    margin-left: 3rem;
}

.hdr-items{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 1rem;
}

.hdr-item{
    margin-right: 1.5rem;
    cursor: pointer;
}

.hdr-items-start{
    display: none;
    flex-flow: row wrap;
    position: relative;
    bottom: -7.5rem;
    left: 44rem;
    padding: 1rem;
    border: 1px solid #730702;
    background-color: white;
}

.hdr-items-start-item{
    width: 100%;
    text-decoration: none;
    padding: 1rem;
    height: 100%;
}

.hdr-items-start-item:hover{
    background-color: #730702;
    color: white;
}

.quinze-anos{
    background-color: #730702;
    color: white;
    padding: 0.6575rem 1rem 0.6575rem 1rem;
    border-radius: 10rem;
    font-size: 0.6575rem;
    cursor: default;
}

.main{
    display: flex;
    height: 35rem;
    width: 100%;
    margin: 1rem 0 5rem 0;
}

.main-left{
    height: 100%;
    width: 50rem;
}

.main-left-title{
    padding: 2.5rem;
    font-weight: 900;
    font-size: 3.75rem;
}

.main-left-desc{
    padding: 0 2.5rem 3.5rem 2.5rem;
    font-size: 1.125rem;
    text-align: justify;
}

.main-left-btn{
    margin: 0 0 0 2.5rem;
    color: white;
    background-color: #730702;
    width: fit-content;
    padding: 1rem;
    font-weight: 900;
    text-decoration: none;
    border-radius: 50rem;
    border: 1px solid white;
}

.main-left-btn:hover{
    background-color: white;
    color: #730702;
    border: 1px solid #730702;
}

.main-right{
    display: flex;
    align-items: flex-start;
    width: 50rem;
}

.main-right-img{
    width: 100%;
    padding: 2.5rem;
    object-fit: cover;
}

.discover{
    display: flex;
    width: 100%;
    background-color: #730702;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.dis-left{
    width: 60rem;
    height: 100%;
}

.dis-left-title{
    color: white;
    font-weight: 900;
    font-size: 3.75rem;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
}

.dis-left-desc{
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0rem 2.5rem 5rem 2.5rem;
    text-align: justify;
}

.dis-right{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 40rem;
    height: 100%;
}

.dis-right-desc{
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    text-align: justify;
}

.dis-right-img{
    height: 25rem;
    width: 40rem;
    padding: 0 2.5rem 5rem 2.5rem;
    object-fit: cover;
    object-position: center;
}

.place{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 50rem;
    margin-bottom: 2.5rem;
}

.plc-title{
    width: 100%;
    font-size: 3.75rem;
    font-weight: 900;
    text-align: center;
    padding-top: 5rem;
}

.plc-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.plc-card{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 20rem;
    height: 35rem;
    background-color: #730702;
    color: white;
    border-radius: 1.125rem;
    margin: 5rem;
}

.plc-card-img{
    width: 100%;
    height: auto;
    border-top-right-radius: 1.125rem;
    border-top-left-radius: 1.125rem;
}

.plc-card-title{
    font-weight: 900;
    color: white;
    padding-top: 2.5rem;
}

.plc-card-desc{
    width: 100%;
    color: white;
    text-align: center;
}

.plc-card-link{
    color: #730702;
    height: fit-content;
    padding: 1rem;
    text-decoration: none;
    background-color: white;
    border: 1px solid #730702;
    border-radius: 100rem;
    font-weight: 900;
}

.plc-card-link:hover{
    color: white;
    background-color: #730702;
    border: 1px solid white;
}

.gallery{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
    height: 40rem;
    margin: 7.5rem 0 0rem 0;
}

.glr-left{
    width: 50rem;
    padding: 2.5rem 0 0 0;
}

.glr-title{
    font-size: 3rem;
    font-weight: 900;
}

.glr-desc{
    padding: 2.5rem 0 3.75rem 0;
    margin-right: 2.5rem;
    text-align: justify;
    font-size: 1.125rem;
}

.glr-btn{
    margin: 2.5rem 0 0 0;
    color: #730702;
    background-color: white;
    border: 1px solid #730702;
    width: fit-content;
    padding: 1rem;
    font-weight: 900;
    text-decoration: none;
    border-radius: 50rem;
}

.glr-btn:hover{
    background-color: #730702;
    color: white;

}

/* Carousel Styles */
.carousel {
    width: 60rem;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 5rem 0 2.5rem;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
    overflow: hidden;
    width: 100%;
}

.slide {
    width: 300%;
    height: calc(100vh - 5rem);
    display: none;
    justify-content: center;
    align-items: center;

}

.slide-img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position: center;
}

.prev-btn,
.next-btn {
    height: 2.5rem;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color:#730702;
    color: white;
    font-weight: 900;
    border: none;
    cursor: pointer;
}

.next-btn {
    right: 0;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: rgb(190, 190, 190);
}

.active {
    display: flex;
}

.disabled {
    display: none;
}

/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 12px;
}
  
/* Cor da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #730702;
}
  
/* Cor do fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #ecf0f1;
}
  
/* Borda da barra de rolagem */
::-webkit-scrollbar-thumb:hover {
    background-color: #480501;
}
  
/* Canto do bloco de área de exibição da barra de rolagem (apenas Firefox) */
::-moz-scrollbar-corner {
    background-color: #ecf0f1;
}
  